<nz-layout class="layout">
  <nz-header>
    <app-header></app-header>
  </nz-header>
  <nz-content>
    <nz-empty style="margin-top: 50px;" *ngIf="roomList.length===0"
      [nzNotFoundImage]="
        'https://gw.alipayobjects.com/mdn/miniapp_social/afts/img/A*pevERLJC9v0AAAAAAAAAAABjAQAAAQ/original'
      "
      [nzNotFoundContent]="contentTpl"
      [nzNotFoundFooter]="footerTpl"
    >
      <ng-template #contentTpl>
        <span> No Room </span>
      </ng-template>
      <ng-template #footerTpl>
        <button nz-button nzType="primary" (click)="visible=true">Create Room Now</button>
      </ng-template>
    </nz-empty>
    <div nz-col nzSpan="3"></div>
    <div nz-col nzSpan="18" style="margin-top: 50px" *ngIf="roomList.length!==0">
      <button
        nz-button
        [nzType]="'primary'"
        (click)="loadData()"
      >
        Refresh Data
      </button>
      <button
        nz-button style="margin-left: 20px"
        [nzType]="'primary'"
        (click)="visible = true"
      >
        Create Room
      </button>
      <nz-table #basicTable [nzData]="roomList" style="margin-top: 20px;">
        <thead>
        <tr>
          <th>RoomID</th>
          <th>RoomType</th>
          <th>CreateTime</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.roomId }}</td>
          <td>{{ data.type }}</td>
          <td>{{ data.createTime }}</td>
          <td>
            <a (click)="deleteRoom()">Delete</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="enterRoom()">Enter</a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
    <div nz-col nzSpan="3"></div>
    <nz-modal [nzVisible]="visible" nzTitle="Create A Room" (nzOnCancel)="visible=false"
              (nzOnOk)="createRoom()" [nzOkLoading]="isOkLoading">
      <nz-radio-group [(ngModel)]="roomType">
        <label nz-radio nzValue="monitor">Monitor Room</label>
        <label nz-radio nzValue="punch">Punch in Room</label>
      </nz-radio-group>
    </nz-modal>
  </nz-content>
</nz-layout>
