<nz-layout class="layout">
  <nz-header>
    <app-header></app-header>
  </nz-header>
  <nz-content>
    <div nz-col nzSpan="8"></div>
    <div nz-col nzSpan="8">
      <nz-card style="width: 500px; margin-top: 100px;">
        <div nz-col nzSpan="4"></div>
        <div nz-col nzSpan="16">
          <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()" *ngIf="login===true">
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your username!">
                <nz-input-group [nzPrefix]="UserPrefix">
                  <input type="text" nz-input formControlName="userName" placeholder="Username" />
                </nz-input-group>
                <ng-template #UserPrefix><i nz-icon nzType="user"></i></ng-template>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your Password!">
                <nz-input-group nzPrefixIcon="lock">
                  <input type="password" nz-input formControlName="password" placeholder="Password" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <button nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
                Or
                <a (click)="login = false">register now!</a>
              </nz-form-control>
            </nz-form-item>
          </form>
          <form nz-form [formGroup]="registerForm" class="login-form" (ngSubmit)="register()" *ngIf="login===false">
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your username!">
                <nz-input-group [nzPrefix]="UserPrefix">
                  <input type="text" nz-input formControlName="userName" placeholder="Username" />
                </nz-input-group>
                <ng-template #UserPrefix><i nz-icon nzType="user"></i></ng-template>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your Password!">
                <nz-input-group nzPrefixIcon="lock">
                  <input type="password" nz-input formControlName="password" placeholder="Password" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your Password again!">
                <nz-input-group nzPrefixIcon="lock">
                  <input type="password" nz-input formControlName="passwordAgain" placeholder="Conform your password" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <button nz-button class="login-form-button" [nzType]="'primary'">Register</button>
                Or
                <a (click)="login = true">Log in!</a>
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>
        <div nz-col nzSpan="4"></div>
      </nz-card>
    </div>
    <div nz-col nzSpan="8"></div>
  </nz-content>
</nz-layout>
