.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

nz-content {
  height: 800px;
}
.alert{
  float: right;
  width: 300px;
  height: 50px;
}
