<nz-layout class="layout">
  <nz-header>
    <app-header></app-header>
  </nz-header>
  <nz-content>
    <div nz-col nzSpan="3"></div>
    <div nz-col nzSpan="18">
      <nz-card style="margin-top: 20px" nzType="inner" nzTitle="RoomInfo" nzSize="small">
        <nz-descriptions>
          <nz-descriptions-item nzTitle="RoomId">{{roomInfo.roomId}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="RoomType">punch</nz-descriptions-item>
          <nz-descriptions-item nzTitle="RoomCode">
            {{roomInfo.code}}
            <button
              style="margin-left: 20px"
              nz-button
              [nzType]="'primary'"
              (click)="getCode(roomInfo.roomId)"
            >
              Get New Code
            </button>
          </nz-descriptions-item>
        </nz-descriptions>
      </nz-card>
      <button
        style="margin-top: 20px"
        nz-button
        [nzType]="'primary'"
        (click)="loadData()"
      >
        Refresh List
      </button>
      <nz-list [nzDataSource]="roomInfo.streamList" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" style="margin-top: 20px">
        <ng-template #item let-item>
          <nz-list-item style="background-color: white;">
            <nz-list-item-meta
              [nzAvatar]="nzAvatar"
              [nzDescription]="nzDescription"
            >
              <ng-template #nzTitle>
                <a>{{ item.name }}</a>
              </ng-template>
              <ng-template #nzAvatar>
                <nz-avatar nzSize="large" nzIcon="user" style="background-color:#87d068; margin-left: 20px"></nz-avatar>
              </ng-template>
              <ng-template #nzDescription>
                <nz-descriptions style="margin-top: 10px; margin-left: 20px">
                  <nz-descriptions-item nzTitle="Id">{{item.id}}</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Info">{{item.name}}</nz-descriptions-item>
                </nz-descriptions>
              </ng-template>
            </nz-list-item-meta>
            <nz-tag [id]="item.id" [nzColor]="'#87d068'" style="visibility: hidden; margin-right: 20px;">Success Punched In</nz-tag>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </div>
    <div nz-col nzSpan="3"></div>
  </nz-content>
</nz-layout>
