<nz-layout class="layout">
  <nz-header>
    <app-header></app-header>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="vertical" nzTheme="light">
        <li nz-menu-item nz-tooltip nzPlacement="right" [nzSelected]="selectedPart==='gps'">
          <i nz-icon nzType="environment"></i>
          <span (click)="selectedPart = 'gps'">位置监控</span>
        </li>
        <li nz-menu-item nz-tooltip nzPlacement="right" [nzSelected]="selectedPart==='frontcam'">
          <i nz-icon nzType="camera"></i>
          <span (click)="selectedPart = 'frontcam'">前摄监控</span>
        </li>
        <li nz-menu-item nz-tooltip nzPlacement="right" [nzSelected]="selectedPart==='backcam'">
          <i nz-icon nzType="camera"></i>
          <span (click)="selectedPart = 'backcam'">后摄监控</span>
        </li>
        <li nz-menu-item nz-tooltip nzPlacement="right" [nzSelected]="selectedPart==='view'">
          <i nz-icon nzType="picture"></i>
          <span (click)="selectedPart = 'view'">屏幕共享</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-content>
        <div [ngSwitch]="selectedPart" style="margin: 50px">
          <app-gps *ngSwitchCase="'gps'" [streamId]="streamId"></app-gps>
          <app-frontcam *ngSwitchCase="'frontcam'" [streamId]="streamId"></app-frontcam>
          <app-backcam *ngSwitchCase="'backcam'" [streamId]="streamId"></app-backcam>
          <app-view *ngSwitchCase="'view'" [streamId]="streamId"></app-view>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
