<nz-layout class="layout">
  <nz-header>
    <app-header></app-header>
  </nz-header>
  <nz-content>
    <div nz-col nzSpan="3"></div>
    <div nz-col nzSpan="18">
      <nz-card style="margin-top: 20px" nzType="inner" nzTitle="RoomInfo" nzSize="small">
        <nz-descriptions>
          <nz-descriptions-item nzTitle="RoomId">{{roomInfo.roomId}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="RoomType">{{roomInfo.type}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="RoomCode">
            {{roomInfo.code}}
            <button
              style="margin-left: 20px"
              nz-button
              [nzType]="'primary'"
              (click)="getCode(roomInfo.roomId)"
            >
              Get New Code
            </button>
          </nz-descriptions-item>
        </nz-descriptions>
      </nz-card>
      <nz-list [nzDataSource]="roomInfo.streamList" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" [nzLoading]="loading" style="margin-top: 20px">
        <ng-template #item let-item>
          <nz-list-item (click)="routeToNav(item)" style="cursor: pointer; background-color: white; width: 400px">
            <nz-list-item-meta
              [nzTitle]="nzTitle"
              nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
              [nzDescription]="nzDescription"
            >
              <ng-template #nzTitle>
                <a (click)="routeToNav(item)" >{{ item.name }}</a>
              </ng-template>
              <ng-template #nzDescription>
                {{item.id}}
              </ng-template>
            </nz-list-item-meta>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </div>
    <div nz-col nzSpan="3"></div>
  </nz-content>
</nz-layout>
